.login-form {
    position:relative;
    bottom: -200px;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, 0); 
    background: rgba(104, 85, 224, 0.7);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(103, 85, 224, 0.46);
    border-radius: 10px;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-form.slide-in {
    bottom: 50%; 
    opacity: 1; 
    transform: translate(-50%, 50%); 
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box input:read-only ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}


@keyframes slideIn {
    from {
        transform: translateY(100%); 
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
