<div class="container">
  <h1 class="color-text">Welcome to Recipe Rabbit</h1>
  <div class="buttons">
    <button class="btn btn-primary" (click)="signUpButtonTrigger()">Sign Up</button>
    <button class="btn btn-secondary" (click)="loginButtonTrigger()">Login</button>
  </div>
  <br>
  <div *ngIf="loginButton" class="login-form slide-in">
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div class="user-box">
          <input type="text" name="loginUsername" required>
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="loginPassword" required>
          <label>Password</label>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="signUpButton" class="login-form2 slide-in">
    <div class="login-box">
      <h2>Sign Up</h2>
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="user-box">
          <input type="text" name="signUpUsername" [(ngModel)]="userResponse.userName" required>
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="text" name="signUpPassword" [(ngModel)]="userResponse.password" required>
          <label>Password</label>
        </div>
        <div class="user-box">
          <input type="text" name="signUpConfirmPassword" [(ngModel)]="confirmPassword" required>
          <label>Confirm Password</label>
        </div>
        <div class="user-box">
          <input type="text" name="signUpEmailAddress" [(ngModel)]="userResponse.emailAddress" required>
          <label>Email Address</label>
        </div>
        <div class="user-box">
            <input type="text" name="phoneNumber" [(ngModel)]="userResponse.phoneNumber" required>
            <label>Phone Number</label>
          </div>
        <div *ngIf="errorMsg" class="errorMsg">{{ errorMsg }}</div>
        <input type="submit" value="Create Account">
      </form>
    </div>
  </div>
</div>
